body {
    text-align: center;
    background-image: url(https://img.freepik.com/premium-photo/list-icon-notebook-with-completed-todo-list-3d-render_471402-428.jpg);
    background-size: cover;
}
h1 {
    color: rgb(134, 8, 8);
    text-decoration: underline;
}
button {
    margin-top: 30px;
    color: white;
    background-color: rgb(57, 152, 41);
}
ul {
    color: rgb(16, 59, 82);
}
.btns {
    margin-left: 10px;
    background-color: rgb(195, 189, 189);
}